body {
    font-family: Bahnschrift;
    font-size: 17px;
    background-color: #555;
}

#container {
    background-color: #fff;
    width: 60%;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;
}

form {
    padding: 20px;
}